@media only screen and (min-device-width:1024px) and (max-device-width:1366px) {
    .navbar-light .navbar-nav .nav-link {
     border-bottom: none !important;
     color: #fff !important;
     padding: 15px;
     font-size: 14px !important;
 }
.navbar-nav li {
     width: auto !important;
 }
 .navbar-nav {
     background: none !important;
     border-radius: 0 !important;
     padding-bottom: 0 !important;
     display: inline-flex !important;
 }
 .cart-header-design {
     display: flex !important;
 }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
 .middle-header .col-sm-6 {
     width: 100% !important;
 }
 .dropdown-menu.sm-menu-parent-services {
 padding: 30px !important;
}
}
.read_more, .product-table td.product-video-title {
 cursor: pointer;
}

.selected-lang-item {
    background: #fba700  !important;
    border-radius: 30px  !important;
    cursor: pointer  !important;
    padding: 8px 20px  !important;
    width: max-content  !important;
}

.selected-lang-item svg {
    left: 8px !important;
}

.header-email-wrapper a {
    margin-right: 14px !important;
}


/* .orange { color:#E97132 !important; } */
.inner-article .orange-h1,.inner-article  h1 , .inner-article h1 * { color: #E97132 !important; font-size: 22px !important; }
.inner-article .orange-h2,.inner-article  h2 , .inner-article h2 * { color: #E97132 !important; font-size: 20px !important; } 
.inner-article .orange-h3,.inner-article  h3 , .inner-article h3 * { color: #E97132 !important; font-size: 18px !important; } 
.inner-article .orange-h4,.inner-article  h4 , .inner-article h4 * { color: #E97132 !important; font-size: 16px !important; } 
.inner-article .orange-h5,.inner-article  h5 , .inner-article h5 * { color: #E97132 !important; font-size: 14px !important; } 
.inner-article .orange-h6,.inner-article  h6 , .inner-article h6 * { color: #E97132 !important; font-size: 12px !important; } 


h1:not(.orange-h1) strong,
h2:not(.orange-h2) strong,
h3:not(.orange-h3) strong,
h4:not(.orange-h4) strong,
h5:not(.orange-h5) strong,
h6:not(.orange-h6) strong,
.inner-article p strong,
.inner-article li strong {
    color: inherit;
    font-size: initial !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.inner-article ol li {
    list-style: decimal;
}

.inner-article li[data-list="bullet"],
.inner-article ul li {
    list-style: disc;
}

.inner-article strong {
    padding: 0 !important;
}
.inner-article p {
    margin-bottom: 0;
}